<!--_includes/base.njk-->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <main>
  {{ content | safe }}
</main>
    <footer><p>Made with ❤️ by Eddie Naff.</p></footer>

</body>
</html>