
      <div id="menu-icon" class="menu-icon-container">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <nav id="mobile-top-nav">
        <ul id="link-list">
          <li><a href="#projects">projects</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </nav>

        <nav id="desktop-top-nav">
          <ul id="link-list">
            <li><a href="#projects">projects</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#contact">contact</a></li>
          </ul>
        </nav>