html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 25px;
}

/* Ripped off from:
    https://www.joshwcomeau.com/css/custom-css-reset/
 */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* END STANDARD CSS RESET */

main {
  position: relative;
}

/* CSS RESPONSIVE TEXT */
/* https://dev.to/laurilllll/how-to-create-responsive-typography-using-css-three-different-methods-explained-50f8 */

/* Declare a font size multiplier variable */
:root {
  --text-multiplier: 1.4;
}

/* Declare text styles using calc() function and the multiplier */
h1 {
  font-size: calc(2em * var(--text-multiplier));
}
h2 {
  font-size: calc(1.5em * var(--text-multiplier));
}

p,
label {
  font-size: calc(1em * var(--text-multiplier));
}

/*
MEDIA WIDTHS
43em (688px),
62em (992px),
82em (1312px)
*/

/* UPPER FORM INPUTS */

form#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group input {
  width: calc(14.5em * var(--text-multiplier));
}
.form-group textarea {
  width: calc(14.5em * var(--text-multiplier));
}

@media (max-width: 43em) {
  nav#desktop-top-nav {
    display: none;
    background-color: blanchedalmond;
  }
  nav#mobile-top-nav {
    display: none;
    background-color: blanchedalmond;
  }
}

/* Increase the size of the multiplier on bigger screens */
@media (min-width: 48rem) {
  :root {
    --text-multiplier: 1.5;
  }
}

/*
  1. Hide the hamburger on larger screens
  2. Display the top nav inline
 */
@media (min-width: 62em) {
  .menu-icon-container {
    display: none;
  }
  #mobile-top-nav {
    display: none;
  }

  nav#desktop-top-nav ul li {
    display: inline;

    font-size: calc(1em * var(--text-multiplier));
  }
}

header,
main,
footer {
  border: 2px burlywood dashed;
}

.menu-icon-container {
  margin-left: auto;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
}

nav#desktop-top-nav {
  margin-left: auto;
  margin-right: 2em;
}

nav#desktop-top-nav ul {
  list-style-type: none;
}

nav#mobile-top-nav ul {
  list-style-type: none;
}

nav#mobile-top-nav {
  padding-top: 2em;
  padding-bottom: 0.75em;
}

nav#desktop-top-nav {
  position: relative;
}

.logo {
  display: block;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

section#introduction {
  background-color: antiquewhite;
}
section#about {
  background-color: burlywood;
}

section#projects {
  background-color: cornsilk;
}

section#contact {
  background-color: thistle;
}

/* FORM STUFF BELOW */
.formStyles {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
}

.formStyles input:focus {
  /* outline: 2px solid coral; */
  /* box-shadow: 1px 1px 8px 1px coral; */

  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-top-color: -internal-light-dark(
    rgb(118, 118, 118),
    rgb(133, 133, 133)
  );
  border-right-color: -internal-light-dark(
    rgb(118, 118, 118),
    rgb(133, 133, 133)
  );
  border-bottom-color: -internal-light-dark(
    rgb(118, 118, 118),
    rgb(133, 133, 133)
  );
  border-left-color: -internal-light-dark(
    rgb(118, 118, 118),
    rgb(133, 133, 133)
  );
}

.formStyles .hidden {
  display: none;
}

.formStyles button {
  display: flex;
}

.formStyles textarea {
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-top-color: -internal-light-dark(
    rgb(118, 118, 118),
    rgb(133, 133, 133)
  );
  border-right-color: -internal-light-dark(
    rgb(118, 118, 118),
    rgb(133, 133, 133)
  );
  border-bottom-color: -internal-light-dark(
    rgb(118, 118, 118),
    rgb(133, 133, 133)
  );
  border-left-color: -internal-light-dark(
    rgb(118, 118, 118),
    rgb(133, 133, 133)
  );
}

.form-group {
  display: flex;
  flex-direction: column;
}

.hint-container {
  min-height: 1em;
}

.hint-container p {
  color: red;
}

.hidden {
  display: none;
}

.single-project img {
  width: 100%;
}

/* Form validation */
/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

/* FORM STUFF */
.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  background: #3d5afe;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.content {
  background: white;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.24), 2px 1px 3px rgba(0, 0, 0, 0.24),
    -2px 1px 3px rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
  height: 400px;
  margin: 2% auto;
  position: relative;
  width: 60%;
  z-index: 3;

  /* flex container properties */
  align-items: center;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

.contact-form {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;

  /* flex container properties */
  display: flex;
  flex-direction: column;
}

.contact-form_form-control {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.contact-form__input {
  border: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.6);
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  margin: 5% 0;
  width: 230px;
}

.contact-form__input:focus {
  box-shadow: 0 2px 0 #3d5afe;
  outline: none;
}

.contact-form__input:focus:invalid {
  box-shadow: 0 2px 0 #d32f2f;
}

.contact-form__input:invalid {
  box-shadow: 0 2px 0 #d32f2f;
}

.contact-form__input::-moz-placeholder,
.contact-form__input::-webkit-input-placeholder,
.contact-form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
}

.contact-form__input-error {
  color: #d32f2f;
  font-size: 0.7em;
  min-height: 10px;
}

.contact-form__button {
  align-self: center;
  background: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0.6);
  border: none;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  margin: 15% 0;
  width: 130px;
}

.contact-form__button:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0.6),
    0 6px 10px rgba(0, 0, 0, 0.4);
}
